version: 3.9.6

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - deal

definitions:
  streams:
    deal:
      type: DeclarativeStream
      name: deal
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_data
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: body_data
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/pipeline/deals
          http_method: POST
          request_body_data:
            password: your_password
            access_token: >-
              your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - deals
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/pipeline"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: id
                inject_into: body_data
              partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_update
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "2025-06-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        end_time_option:
          type: RequestOption
          field_name: last_update_stime
          inject_into: body_data
        start_time_option:
          type: RequestOption
          field_name: last_update_stime
          inject_into: body_data
        cursor_datetime_formats:
          - "%s"
    stage:
      type: DeclarativeStream
      name: stage
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/pipeline/get.stages
          http_method: POST
          request_body_data:
            password: your_password
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - pipeline
              - cached_stages
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/pipeline"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: id
                inject_into: body_data
              partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stage"
    account:
      type: DeclarativeStream
      name: account
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/account/list
          http_method: POST
          request_body_data:
            password: your_password
            service_id: your_service_id
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account"
    contact:
      type: DeclarativeStream
      name: contact
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_data
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: body_data
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/contact/list
          http_method: POST
          request_body_data:
            password: your_password
            service_id: your_service_id
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_update
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "2025-06-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        end_time_option:
          type: RequestOption
          field_name: last_update_stime
          inject_into: body_data
        start_time_option:
          type: RequestOption
          field_name: last_update_stime
          inject_into: body_data
        cursor_datetime_formats:
          - "%s"
    pipeline:
      type: DeclarativeStream
      name: pipeline
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/pipeline/all
          http_method: POST
          request_body_data:
            password: your_password
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - pipelines
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipeline"
    contact_service:
      type: DeclarativeStream
      name: contact_service
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/contact/service/all
          http_method: POST
          request_body_data:
            password: your_password
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contact_services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_service"
    deal_activities:
      type: DeclarativeStream
      name: deal_activities
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/deal/get.activities
          http_method: POST
          request_body_data:
            user_id: your_user_id
            password: your_password
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/deal"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: id
                inject_into: body_data
              partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_activities"
    account_services:
      type: DeclarativeStream
      name: account_services
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://apis.{{domain}}/sales/v1/account/service/all
          http_method: POST
          request_body_data:
            password: your_password
            access_token: your_access_token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - account_services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_services"
  base_requester:
    type: HttpRequester
    url_base: https://apis.{{domain}}/sales/v1/pipeline/deals

streams:
  - $ref: "#/definitions/streams/deal"
  - $ref: "#/definitions/streams/stage"
  - $ref: "#/definitions/streams/deal_activities"
  - $ref: "#/definitions/streams/account"
  - $ref: "#/definitions/streams/contact_service"
  - $ref: "#/definitions/streams/contact"
  - $ref: "#/definitions/streams/account_services"
  - $ref: "#/definitions/streams/pipeline"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required: []
    properties: {}
    additionalProperties: true

metadata:
  testedStreams:
    deal:
      hasRecords: true
      streamHash: f276f07be7454efa47c9778d31d296b489e590b0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stage:
      hasRecords: true
      streamHash: 093857f87d6f8bef84349610f07e5453c7fe8017
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    account:
      hasRecords: true
      streamHash: 371ef5bcfd0b86befc22b20947506e5f83d7ab1b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contact:
      hasRecords: true
      streamHash: bce9182b759bd9b4333761d741357044dec1de7a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    pipeline:
      hasRecords: true
      streamHash: a0c1723d301019403bc4c696f19dc19efc66e45f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contact_service:
      hasRecords: true
      streamHash: 79349dfc8e430dbbfaddf2fa77f31c935ba89245
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    deal_activities:
      hasRecords: true
      streamHash: 5568c9454d7081683b296b93dbb2a4639f29b76e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    account_services:
      hasRecords: true
      streamHash: 579f81382f3c236df5455a630e9e8df9b22db035
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    deal: true
    stage: true
    account: true
    contact: true
    pipeline: true
    contact_service: true
    deal_activities: true
    account_services: true

schemas:
  deal:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - last_update
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      gid:
        type:
          - string
          - "null"
      hid:
        type:
          - string
          - "null"
      form:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            code:
              type:
                - string
                - "null"
            defs:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              anyOf:
                - type:
                    - number
                    - string
                - type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      dataset_id:
                        type: number
            vtype:
              type:
                - string
                - "null"
            gs_key:
              type:
                - string
                - "null"
            display:
              type:
                - string
                - "null"
            group_id:
              type:
                - string
                - "null"
      link:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      prob:
        type:
          - number
          - "null"
      color:
        type:
          - number
          - "null"
      files:
        type:
          - array
          - "null"
      gtype:
        type:
          - string
          - "null"
      since:
        type:
          - number
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          likes:
            type:
              - number
              - "null"
          comments:
            type:
              - number
              - "null"
      token:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
      fs_gid:
        type:
          - string
          - "null"
      icp_id:
        type:
          - number
          - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      owners:
        type:
          - array
          - "null"
      status:
        type:
          - number
          - "null"
      content:
        type:
          - string
          - "null"
      starred:
        type:
          - number
          - "null"
      has_prob:
        type:
          - number
          - "null"
      overview:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
      stage_id:
        type:
          - number
          - "null"
      closed_at:
        type:
          - number
          - "null"
      collector:
        type:
          - string
          - "null"
      followers:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      fs_export:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          link:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      market_id:
        type:
          - number
          - "null"
      num_calls:
        type:
          - number
          - "null"
      num_mails:
        type:
          - number
          - "null"
      num_notes:
        type:
          - number
          - "null"
      system_id:
        type:
          - number
          - "null"
      account_id:
        type:
          - number
          - "null"
      contact_id:
        type:
          - number
          - "null"
      creator_id:
        type:
          - number
          - "null"
      access_keys:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      collections:
        type:
          - array
          - "null"
      currency_id:
        type:
          - number
          - "null"
      failed_info:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          since:
            type:
              - number
              - "null"
          content:
            type:
              - string
              - "null"
          user_id:
            type:
              - number
              - "null"
      last_update:
        type: number
      pipeline_id:
        type:
          - number
          - "null"
      product_ids:
        type:
          - array
          - "null"
      stage_start:
        type:
          - number
          - "null"
      account_name:
        type:
          - string
          - "null"
      cached_moves:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            since:
              type:
                - number
                - "null"
            to_id:
              type:
                - number
                - string
                - "null"
            deal_id:
              type:
                - number
                - "null"
            from_id:
              type:
                - number
                - "null"
            user_id:
              type:
                - number
                - "null"
            metatype:
              type:
                - string
                - "null"
            pipeline_id:
              type:
                - number
                - "null"
      contact_name:
        type:
          - string
          - "null"
      num_meetings:
        type:
          - number
          - "null"
      collaborators:
        type:
          - array
          - "null"
      fs_service_id:
        type:
          - number
          - "null"
      num_quicklogs:
        type:
          - number
          - "null"
      account_export:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
          owner_id:
            type:
              - number
              - "null"
          segments:
            type:
              - array
              - "null"
          service_id:
            type:
              - number
              - "null"
      computed_stats:
        type:
          - object
          - "null"
        properties:
          num_calls:
            type:
              - number
              - "null"
          num_mails:
            type:
              - number
              - "null"
          num_notes:
            type:
              - number
              - "null"
          num_meetings:
            type:
              - number
              - "null"
          num_quicklogs:
            type:
              - number
              - "null"
          last_mail_date:
            type:
              - number
              - "null"
          last_call_created:
            type:
              - number
              - "null"
          last_note_created:
            type:
              - number
              - "null"
          last_meeting_stime:
            type:
              - number
              - "null"
          last_quicklog_stime:
            type:
              - number
              - "null"
          last_meeting_created:
            type:
              - number
              - "null"
          last_quicklog_created:
            type:
              - number
              - "null"
      contact_export:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
          segments:
            type:
              - array
              - "null"
          service_id:
            type:
              - number
              - "null"
      expected_close:
        type:
          - number
          - "null"
      failed_content:
        type:
          - string
          - "null"
      last_mail_date:
        type:
          - number
          - "null"
      cached_pipeline:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      failed_reason_id:
        type:
          - number
          - "null"
      last_activity_ts:
        type:
          - number
          - "null"
      expected_deadline:
        type:
          - number
          - "null"
      last_call_created:
        type:
          - number
          - "null"
      last_note_created:
        type:
          - number
          - "null"
      last_meeting_stime:
        type:
          - number
          - "null"
      last_quicklog_stime:
        type:
          - number
          - "null"
      last_meeting_created:
        type:
          - number
          - "null"
      form_a01ZLCaUmWq3lbpiPsNEoCfD6:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a14GmnL0EqmQKkpjOBHQGOwa6:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                dataset_id:
                  type:
                    - number
                    - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a2X26YbXWYaqwQ3XmWytJKGtw:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a2jGgEq4AJHb1Z51bcEIlQ3ts:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a32q6l45nD2sAUjvABrbcr6n5:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a4AsZLhItnmihTsPYXORK7Fpd:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a4SzHdnGrwiimPHuGKb9QVm4X:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_a76BtJUiHyEOS29KJLLv7JDlZ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aAhg1AGqUpw2pChtGrvfWZHwI:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aAsPVSFBBVo1HYdNnwhABf5yL:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aAuyetP1fUgNQXulEspydNu7G:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aBe1Pz0w1PE3u0fovnCPGs4ag:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aC9NWNJ3DNA42UVzIDB2xRURz:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aCJtgcYEYvFdyZPyzKuWVCPrS:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aCfvrV6At2QX7gnDva5wI8Jky:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aDXsPMVlnsVS4dW0Hols3nsQc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aG5A2cak8fbvdzNe6LpWLPOXL:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aGqWUllE4aRVN1l5Mwr68moxn:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aIBtqqkjcoIcBzmn9TvEWrGwV:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aJkg7NUXvYb7HAdynfcl9QfmA:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aK2vGvWzENDcsuro7SmjDLX6R:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aKPlewZ36W0YI5OtFXVBVPklK:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aKdrTY9J1rfm3MOZBReHhfAof:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aLYDWKlQVcj94xJd5pugblLjZ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aM3AGhjfU0PeOurEMYB2JSOf3:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aNDBJLBQwKpf8gB0lKSjBB1Xb:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aNZznr2OudWEEzp0kcG9oliD9:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aNxg4wkjPdQb1pHEOciqDesQ2:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aOW36X8uZNXXrlcH74mr4jYEW:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aOYYvU8Gv7ySHknaAHB0zDf73:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aPIRdduDPyQBhslh7GceA0r3s:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aPq5oj7IDnRWhFUOYhWEwAGg7:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aRBdRPHex3xO8LiSamlUN9oXR:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aTRhNIyLzaQXtodSVC6GJpQ6O:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aW9zLAW8ruSvs61HjJEOIM1UQ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aWTJ2mtKPOpUG1lB4a0tgSDuA:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aWwelUz7wUgHlFWG0sA6LQ8Zk:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aX84NA00SwgmNygH7qJkdrvWG:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aY4DCyqljVw2OxXdvdZGaumq1:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_ac3n2kxK6nHYMsctnFVhqBRtj:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_acXAg77xe3DF59LkEyZwS8B36:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_afnZZNYOr6Jl4mNJQY7WpFu4l:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aiasAHYvtOIihO3R4Xst2Ezsz:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                dataset_id:
                  type:
                    - number
                    - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_akNgKaFiCPF1fx96GGsTbtvMg:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_anbwjk215vzimfm4gJhbXsjqb:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_ap6DGcl1ecye9Imjiuz9v4SvF:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_apPTXJsqqQCzMvEtSVgWa3lpZ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_asvkYAKoBZzdLiGzsGjenwyj9:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_avu1sz4ysVPrA75j4oqCsalcb:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_axRb0cwqJVXq1kDJyuxizYGSq:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_axqdsXVXvgD5jYY7wSHwZ2DnZ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_ayCgmylDooSV4vzySiCwkn4nq:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_azPsJYqcQnTVtOBvj2FE1OtEq:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
    additionalProperties: true
  stage:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      hid:
        type:
          - string
          - "null"
      link:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      prob:
        type:
          - number
          - "null"
      color:
        type:
          - string
          - "null"
      since:
        type:
          - number
          - "null"
      token:
        type:
          - string
          - "null"
      config:
        type:
          - object
          - "null"
        properties:
          icon:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          use_color:
            type:
              - number
              - "null"
      owners:
        type:
          - array
          - "null"
      status:
        type:
          - number
          - "null"
      content:
        type:
          - string
          - "null"
      rotting:
        type:
          - number
          - "null"
      user_id:
        type:
          - number
          - "null"
      metatype:
        type:
          - string
          - "null"
      webhooks:
        type:
          - object
          - "null"
      followers:
        type:
          - array
          - "null"
      system_id:
        type:
          - number
          - "null"
      use_color:
        type:
          - number
          - "null"
      real_order:
        type:
          - number
          - "null"
      last_update:
        type:
          - number
          - "null"
      pipeline_id:
        type:
          - number
          - "null"
      use_rotting:
        type:
          - number
          - "null"
      incoming_webhook:
        type:
          - string
          - "null"
    additionalProperties: true
  account:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      gid:
        type:
          - string
          - "null"
      hid:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          recorded_time:
            type:
              - object
              - "null"
      form:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            code:
              type:
                - string
                - "null"
            defs:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            vtype:
              type:
                - string
                - "null"
            gs_key:
              type:
                - string
                - "null"
            display:
              type:
                - string
                - "null"
            group_id:
              type:
                - string
                - "null"
      link:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      files:
        type:
          - array
          - "null"
      gtype:
        type:
          - string
          - "null"
      image:
        type:
          - string
          - "null"
      since:
        type:
          - number
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          posts:
            type:
              - number
              - "null"
          comments:
            type:
              - number
              - "null"
      token:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      fs_gid:
        type:
          - string
          - "null"
      icp_id:
        type:
          - number
          - "null"
      labels:
        type:
          - array
          - "null"
      status:
        type:
          - number
          - "null"
      address:
        type:
          - object
          - "null"
        properties:
          lat:
            type:
              - string
              - "null"
          lng:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
      content:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          lat:
            type:
              - string
              - "null"
          lng:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
      owner_id:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
      stage_id:
        type:
          - number
          - "null"
      followers:
        type:
          - array
          - "null"
      fs_export:
        type:
          - object
          - "null"
      market_id:
        type:
          - number
          - "null"
      num_calls:
        type:
          - number
          - "null"
      num_mails:
        type:
          - number
          - "null"
      num_notes:
        type:
          - number
          - "null"
      system_id:
        type:
          - number
          - "null"
      creator_id:
        type:
          - number
          - "null"
      service_id:
        type:
          - number
          - "null"
      access_keys:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      currency_id:
        type:
          - number
          - "null"
      last_update:
        type:
          - number
          - "null"
      num_meetings:
        type:
          - number
          - "null"
      collaborators:
        type:
          - array
          - "null"
      fs_service_id:
        type:
          - number
          - "null"
      num_quicklogs:
        type:
          - number
          - "null"
      recorded_time:
        type:
          - object
          - "null"
      computed_stats:
        type:
          - object
          - "null"
        properties:
          num_calls:
            type:
              - number
              - "null"
          num_mails:
            type:
              - number
              - "null"
          num_notes:
            type:
              - number
              - "null"
          num_meetings:
            type:
              - number
              - "null"
          num_quicklogs:
            type:
              - number
              - "null"
      last_mail_date:
        type:
          - number
          - "null"
      service_export:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          hid:
            type:
              - string
              - "null"
          link:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          metatype:
            type:
              - string
              - "null"
          model_key:
            type:
              - string
              - "null"
      last_activity_ts:
        type:
          - number
          - "null"
      last_call_created:
        type:
          - number
          - "null"
      last_note_created:
        type:
          - number
          - "null"
      last_meeting_stime:
        type:
          - number
          - "null"
      last_quicklog_stime:
        type:
          - number
          - "null"
      last_meeting_created:
        type:
          - number
          - "null"
      form_a6PSyhGCXmiCM5VfYiEkE8M9g:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aJMpBNRNVNnRkHyuxnVFnFf0s:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aNf3eM2UUhhmsrIoa6V1QXVt9:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aU1oFeBJ4Ug6QDf7Y3SF90wlG:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aV8YoEyniI6V9ofeH6m56WMWc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aYXxEPatAaWhBB3x9QATr0gtU:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_abuxs04DCs1dAOQQUnqtVJb0v:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_adUzQ3riKs70R5B6cvevgvxOQ:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aePigueDcLPSkSGprFLxXSBTK:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_afr4sy5YjLpnkJASsCnh8J9If:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aggekA5USKZPP5Xpv8G8DqDpm:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_aguk16EUVk4YzVyQUhkEIPNkn:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_ai5lKJGg5pzVz5KP3dGvjhhla:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
      form_auyRFi4RWlG3aQ605SIB87HxX:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          defs:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          vtype:
            type:
              - string
              - "null"
          gs_key:
            type:
              - string
              - "null"
          display:
            type:
              - string
              - "null"
          group_id:
            type:
              - string
              - "null"
    additionalProperties: true
  contact:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - last_update
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      gid:
        type:
          - string
          - "null"
      hid:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          linked_lead_gids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      form:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            code:
              type:
                - string
                - "null"
            defs:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            vtype:
              type:
                - string
                - "null"
            gs_key:
              type:
                - string
                - "null"
            display:
              type:
                - string
                - "null"
            group_id:
              type:
                - string
                - "null"
      link:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      files:
        type:
          - array
          - "null"
      gtype:
        type:
          - string
          - "null"
      image:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      since:
        type:
          - number
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          likes:
            type:
              - number
              - "null"
          comments:
            type:
              - number
              - "null"
      title:
        type:
          - string
          - "null"
      token:
        type:
          - string
          - "null"
      emails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
      fs_gid:
        type:
          - string
          - "null"
      labels:
        type:
          - array
          - "null"
      phones:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            phone:
              type:
                - string
                - "null"
      prefix:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      content:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
      stage_id:
        type:
          - number
          - "null"
      followers:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      fs_export:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          link:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      last_name:
        type:
          - string
          - "null"
      num_calls:
        type:
          - number
          - "null"
      num_mails:
        type:
          - number
          - "null"
      num_notes:
        type:
          - number
          - "null"
      system_id:
        type:
          - number
          - "null"
      account_id:
        type:
          - number
          - "null"
      creator_id:
        type:
          - number
          - "null"
      first_name:
        type:
          - string
          - "null"
      service_id:
        type:
          - number
          - "null"
      access_keys:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      last_update:
        type: number
      naming_flip:
        type:
          - number
          - "null"
      account_name:
        type:
          - string
          - "null"
      num_meetings:
        type:
          - number
          - "null"
      collaborators:
        type:
          - array
          - "null"
      fs_service_id:
        type:
          - number
          - "null"
      num_quicklogs:
        type:
          - number
          - "null"
      account_export:
        type:
          - object
          - "null"
      computed_stats:
        type:
          - object
          - "null"
        properties:
          num_calls:
            type:
              - number
              - "null"
          num_mails:
            type:
              - number
              - "null"
          num_notes:
            type:
              - number
              - "null"
          num_meetings:
            type:
              - number
              - "null"
          num_quicklogs:
            type:
[...]
